<div id="launch_splash">
		

		<!--MOBILE BACKGROUND-->
		<div id="launch_splash_mobile">
			
			<div id="launch_mobile_text_background"></div>
			<img ><%= image_tag "Website_Launch_Logo.png", :class => "launch_logo_mobile mobile" %><img>
			<h1 id="flock_text_mobile" class= "mobile">Flock</h1>
			<h1 id="launch_mobile_text" class="mobile">Bring the Party <span>OFFLINE</span><h1>
			<h3 id="launch_mobile_text_sub" class="mobile">request a beta invite below<h3>

		</div>


	
		<div id="flock_text_box" class="desktop"></div>
			<h1 id="flock_text" class= "desktop">Flock</h1>
		<img ><%= image_tag "Website_Launch_Logo.png", :class => "launch_logo desktop" %><img>
		
		
		<div id="launch_text_box" class="desktop">
			<h1 id="launch_text">Bring the party <span id="offline">OFFLINE</span></h1>
		</div>



			<%= form_for User.new do |f| %>
				
			<!-- Desktop Form -->	

			 <div id="desktop_form">
			  <div class="field desktop">
			    <%= f.email_field :email, :placeholder => "hopefullynot@aol.com"%>
			  </div>

			  <div class="actions desktop">
			    <%= f.submit "Request Beta Invite!" %>
			  </div>
			 </div>

			<!-- Mobile Form -->	

			<div id="mobile_form">  
			  <div class="field mobile">
			    <%= f.email_field :email, :placeholder => "hopefullynot@aol.com" %>
			  </div>

			  <div class="actions hidden mobile">
			    <%= f.submit "Request Beta Invite!" %>
			  </div>
			 </div>
				
			<% end %>

		
		<!--Desktop Header-->
		<header id="launch_header_nav" class ="desktop">	
			<nav>
				<ul>
					<li class="launch_header"><%= link_to "Home", root_path, :class => "linka"%></li>
					<li class="launch_header"><%= link_to "About", about_path, :class => "linka"%></li>
					<li class="launch_header"><%= link_to "Team", team_path, :class => "links" %></li>
					<li class="launch_header"><%= link_to "Contact", contact_path, :class => "links" %></li>
				</ul>
			</nav>
		</header>
		<img ><%= image_tag "launch_screenshot.png", :class => "launch_screenshot" %><img>

		 <!--Mobile Header-->
		 
<!-- 		 <header id ="static_page_header" class="mobile">
			
					<nav id="static_header_nav">
						<ul>
							<li><%= link_to "Home",    root_path %></li>
							<li><%= link_to "About",    about_path %></li>
							<li><%= link_to "Team", team_path %></li>
							<li><%= link_to "Contact", contact_path %></li>
						</ul>
					</nav>
			<div id="blankspace"></div>
		 </header> -->


		<!-- Mobile Body -->

</div>



