<% provide(:title, 'Team') %>

<%= render 'layouts/header' %>
<div class="base_table" id="outer_team_table">

<div class="base_table" id="team_table">

		<div class= "section_background table_cell " id="team_background_1">
			<h1 class ="team_header">Adam</h1>
			
			<%= link_to 'https:twitter.com/ajwaxman' , class: 'pic_links', rel: 'tooltip', relative: true do%>
		  		<%= image_tag 'Adam_Website_Pic.png', alt: 'Adam_Picture', class: 'team_pics' %>
			<% end %>

			<h3 class="team_subtext">Product / Design</h3>

		</div>
		<div class= "section_background table_cell" id="team_background_2">
			<h1 class ="team_header">Misha</h1>

			<%= link_to 'https:twitter.com/ajwaxman', class: 'pic_links', rel: 'tooltip', relative: true do %>
		  		<%= image_tag 'Misha_Website_Pic.png', alt: 'Misha_Picture', class: 'team_pics' %>
			<% end %>

			<h3 class="team_subtext">iOS Developer</h3>

		</div>
		<div class= "section_background table_cell" id="team_background_3">
			<h1 class ="team_header">Jay</h1>

			<%= link_to 'https:twitter.com/ajwaxman', class: 'pic_links', rel: 'tooltip', relative: true do %>
		  		<%= image_tag 'Jay_Website_Pic.png', alt: 'Jay_Picture', class: 'team_pics' %>
			<% end %>

			<h3 class="team_subtext">Marketing / PR</h3>

		</div>

</div>

</div>