<header id ="static_page_header" class="desktop">
	<!-- Flock Logo -->
	<%= link_to root_path, rel: 'tooltip', relative: true do %>
	  <%= image_tag 'Website_Launch_Logo.png', size: '45x45', alt: 'Flock Logo', class: 'header_logo' %>
	<% end %>
	<!-- Flock Text -->
	<h1 id="flock_text_header">Flock</h1>
			<nav id="static_header_nav">
				<ul>
					<li><%= link_to "Home",    root_path %></li>
					<li><%= link_to "About",    about_path %></li>
					<li><%= link_to "Team", team_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
				</ul>
			</nav>
	<div id="blankspace"></div>
 </header>

